/* --- @styles --- */
:root {
  --typography-core: "Fredoka", sans-serif;

  /* Textos */
  --fore-neutral: #F6F3F9;
  --fore-partial: #9A95A6;
  --fore-primary: #ab75fb;
  --fore-primary-fussy: #7245d4;
  --fore-secondary: #42D6C4;
  --fore-secondary-fussy: #239C90;
  --fore-success: #52D273;
  --fore-error: #FF6B7A;

  --back-depth: #151517;
  --back-surface: #2f2f2f;

  /* Estados */
}

/*#region - INIT */
* {
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 0px;
  padding: 0%;
}

body {
  font-family: var(--typography-core);
  background-color: var(--back-depth);
  color: var(--fore-neutral);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="color"] {
  width: 100%;
  height: 34px;
}

select {
  min-height: 34px;
}

textarea {
  min-height: 34px;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 0.375rem;
}

input[type="color"]::-moz-color-swatch {
  border: 1px solid transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 600000s ease-in-out 0s;
  -webkit-text-fill-color: var(--fore-neutral);
}

.header-container {
  background-color: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.footer-container {
  background-color: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/*#endregion*/

/*#region - background */
.bg-depth {
  background: var(--back-depth);
}

.bg-surface {
  background: var(--back-surface);
}

/*#endregion*/

/*#region - foreground */
.fg-neutral {
  color: var(--fore-neutral);
}

.fg-partial {
  color: var(--fore-partial);
}

.fg-primary {
  color: var(--fore-primary);
}

.fg-secondary {
  color: var(--fore-secondary);
}

.fg-success {
  color: var(--fore-success);

}

.fg-error {
  color: var(--fore-error);
}

.fg-gradient {
  background: linear-gradient(135deg, var(--fore-primary), var(--fore-secondary), var(--fore-primary));
  background-clip: text;
  color: transparent;
  display: inline-block;
  background-size: 200% auto;
  animation: fg-gradient 3000ms linear infinite;
}

/*#endregion*/

/*#region - border */
.bdr-surface {
  border: 1px solid var(--back-surface);
}

.bdr-surface-top {
  border-top: 1px solid var(--back-surface);
}

.bdr-surface-bottom {
  border-bottom: 1px solid var(--back-surface);
}

.bdr-surface-left {
  border-left: 1px solid var(--back-surface);
}

.bdr-surface-right {
  border-right: 1px solid var(--back-surface);
}

/*#endregion*/

/*#region - link */
.lk {
  cursor: pointer;
  outline: none;
  width: fit-content;
  text-decoration: none;
  color: var(--lk-fore-color-default);
  transition: color 300ms ease-in-out, text-decoration 300ms ease-in-out;
  /*
  text-decoration: underline solid transparent 1px;
  text-underline-offset: 0.25em;
  */
}

.lk-primary {
  --lk-fore-color-default: var(--fore-primary);
  --lk-fore-color-hover: var(--fore-primary-fussy);
  --lk-fore-color-active: var(--fore-neutral);
  --lk-back-color-focuswithin: var(--fore-primary);
}

.lk-secondary {
  --lk-fore-color-default: var(--fore-secondary);
  --lk-fore-color-hover: var(--fore-secondary-fussy);
  --lk-fore-color-active: var(--fore-neutral);
  --lk-back-color-focuswithin: var(--fore-secondary);
}

.lk-primary:hover,
.lk-secondary:hover {
  color: var(--lk-fore-color-hover);
}

.lk-primary:focus-within,
.lk-secondary:focus-within {
  background: color-mix(in srgb, var(--lk-back-color-focuswithin) 25%, transparent);
}

.lk-active {
  --lk-fore-color-hover: var(--lk-fore-color-active);
  color: var(--lk-fore-color-active);
}

/*#endregion*/

/*#region - switch */
.sw {
  outline: none;
  border: none;
  border: 1px solid transparent;
  background: var(--sw-back-color-default);
  color: var(--sw-fore-color-default);
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
}

.sw-primary {
  --sw-back-color-default: var(--fore-primary);
  --sw-fore-color-default: var(--fore-neutral);
  --sw-back-color-hover: var(--fore-primary-fussy);
  --sw-fore-color-hover: var(--fore-neutral);
  --sw-back-color-active: var(--fore-neutral);
  --sw-fore-color-active: var(--back-depth);
  --sw-back-color-focuswithin: var(--fore-primary);
}

.sw-secondary {
  --sw-back-color-default: var(--fore-secondary);
  --sw-fore-color-default: var(--back-depth);
  --sw-back-color-hover: var(--fore-secondary-fussy);
  --sw-fore-color-hover: var(--back-depth);
  --sw-back-color-active: var(--fore-neutral);
  --sw-fore-color-active: var(--back-depth);
  --sw-back-color-focuswithin: var(--fore-secondary);
}

.sw-primary:hover,
.sw-secondary:hover {
  background: var(--sw-back-color-hover);
  color: var(--sw-fore-color-hover);
}

.sw-primary:focus,
.sw-secondary:focus {
  box-shadow: 0px 0px 0px 4px color-mix(in srgb, var(--sw-back-color-focuswithin) 25%, transparent);
}

.sw-active {
  background: var(--sw-back-color-active);
  color: var(--sw-fore-color-active);
}

/*#endregion*/

/*#region - inputs */
.ipt {
  border: 1px solid var(--back-surface);
  color: var(--fore-neutral);
  transition: border 300ms ease-in-out;
  --ipt-border-color-hover: var(--fore-primary);
  --ipt-border-color-focuswithin: var(--fore-primary);
}

.ipt:hover {
  border: 1px solid var(--ipt-border-color-hover);
}

.ipt:focus-within {
  box-shadow: 0px 0px 0px 4px color-mix(in srgb, var(--ipt-border-color-hover) 25%, transparent);
  border: 1px solid var(--ipt-border-color-hover);
}

.ipt::selection {
  background-color: color-mix(in srgb, var(--fore-primary) 50%, transparent);
  color: var(--fore-neutral);
}

/*#endregion*/

/*#region - XY rules */
.hr-surface {
  color: var(--back-surface);
  border: 0;
  border-top: 1px solid;
  opacity: 100;
}

/*#endregion*/

/* --- @keyframes --- */
@keyframes fg-gradient {
  0% {
    background-position: 200% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}